$('.modal-body').html('<%= escape_javascript(render :partial => 'show', :employee => @employee) %>');
$('.modal-header h3').html('<%= @employee.full_name %>');
$('.modal-footer').html('<a href="#" class="btn" data-dismiss="modal">Close</a>');
$('#modal-window').modal('show');