$('.modal-body').html('<%= escape_javascript(render :partial => 'show', :label => @label) %>');
$('.modal-header h3').html('<%= @label.name %>');
$('.modal-footer').html('<a href="#" class="btn" data-dismiss="modal"><%= t('close', default: 'Close') %></a>');
$('#modal-window').modal('show');