<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>Name</dt><dd><%= @category.name.capitalize %></dd>
  <dt>Published</dt><dd><%= boolean_to_text @category.published %></dd>
  <dt>Created</dt><dd><%= @category.created_at %></dd>
</dl>