<div class="modal fade" id="modal-window">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Loading...</h3>
  </div>
  <div class="modal-body">
    <%= image_tag "loading.gif" %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>